.pages button {
  margin: auto 1em;
  height: fit-content;
  vertical-align: center;
  font-size: medium;
  border-radius: 5px;
}
.show-name {
  font-weight: bold;
}
.show-page {
  margin: auto;
}
.show {
  padding: 2em 0;
  background-color: lightgrey;
  background-position: center;
  background-size: cover;
  margin: 1em auto 0 auto;
  height: 15em;
}
.episode {
  padding: 2em 0;
  background-color: lightgrey;
  background-position: center;
  background-size: cover;
  margin: 1em auto 0 auto;
  height: 6em;
}
.show-main {
  display: flex;
  flex-flow: row wrap;
  margin: 2em auto;
  justify-content: space-evenly;
}
.show-image {
  max-width: 45%;
  max-height: 100%;
}
.show-image:empty {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
  max-height: 90vh;
  width: auto;
}
.show-main-details {
  max-width: 45%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.2em;
  line-height: 2;
}
.show-details {
  background-color: ghostwhite;
  padding: 0.2em;
  margin: 0;
}
li {
  list-style-type: none;
  width: 18%;
}
ul {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
a {
  color: black;
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
  li {
    width: 30%;
  }
  .show-image {
    max-width: 90%;
  }
  .show-main-details {
    max-width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  li {
    width: 48%;
  }
}
